<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename = "css/landing.css") }}">


</head>
<body>
    <navbar class="nav">
        <img src="../static/content/Asset 1@3x_Notext.svg" alt="">
        <head>
            Finura Studios
        </head>
        <buttons>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </buttons>
    </navbar>




</body>
</html>